<div id="main-container">
    <div class="container">
        <main class="table">
            <section class="table__header mt-1">
                <h1>Hotels</h1>
                <button type="button" class="btn btn-primary p-2" (click)="addHotel()">Add Hotel</button>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Rating</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hotel of hotels">
                            <td>{{ hotel.id }}</td>
                            <td>{{ hotel.name }}</td>
                            <td><a [href]="hotel.address" target="_blank">{{ hotel.address }}</a></td>
                            <td>{{ hotel.phone || 'NULL' }}</td>
                            <td>{{ hotel.rating }} ☆</td>
                            <td><button type="button" (click)="onDelete(hotel.id)"
                                    class="btn btn-danger p-1 text-light">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>