<div id="main-container">
    <div class="container">
        <main class="table">
            <section class="table__header mt-1">
                <h1>Cities</h1>
                <button type="button" class="btn btn-primary p-2" (click)="addCity()">Add City</button>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>City</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let city of cities">
                            <td>{{ city.id }}</td>
                            <td>{{ city.name }}</td>
                            <td>
                                <fa-icon class="mx-2 text-danger" [icon]="deleteIcon"
                                    (click)="onDelete(city.id)"></fa-icon>
                                <fa-icon class="mx-2 text-warning" [icon]="updateIcon" (click)="onUpdate()"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>