<div id="main-container">
    <div class="container">
        <main class="table">
            <section class="table__header mt-1">
                <h1>Users</h1>
                <button type="button" class="btn btn-primary p-2" (click)="addUser()">Add User</button>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Social</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName || 'NULL'}}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <div class="male" *ngIf="user.gender === 'MALE'">
                                    <fa-icon id="male-gender-color" [icon]="maleIcon"></fa-icon>
                                </div>
                                <div class="female" *ngIf="user.gender === 'FEMALE'">
                                    <fa-icon id="female-gender-color" [icon]="femaleIcon"></fa-icon>
                                </div>
                            </td>
                            <td>{{ user.social }}</td>
                            <td>
                                <fa-icon class="mx-2 text-danger" [icon]="deleteIcon"
                                    (click)="onDelete(user.email)"></fa-icon>
                                <fa-icon class="mx-2 text-warning" [icon]="updateIcon" (click)="onUpdate()"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>