<div class="container">

    <div>
        <div class="card p-2 border border-warning rounded">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="userImageUrl" alt="user using phone" class="img-fluid border border-primary rounded">
                </div>
                <div class="col-md-8">
                    <h2 class="card-title">Users</h2>

                    <p>Users are consumers of a tourism app but active participants who contribute to its
                        functionality and success. Their reviews, feedback, content, and interactions can shape the
                        app's reputation and utility in the travel industry. Therefore, it's important for developers to
                        prioritize user satisfaction and continually improve the app based on user needs and feedback.
                    </p>
                    <div class="d-grid gap-2">
                        <button type="button" id="btn" class="btn btn-warning btn-sm text-dark"
                            routerLink="/user/list">USERS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

</div>