<div class="container">

    <div>
        <div class="card p-2 border border-warning rounded">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="userImageUrl" alt="user using phone" class="img-fluid border border-primary rounded">
                </div>
                <div class="col-md-8">
                    <h2 class="card-title">Users</h2>

                    <p>Users are consumers of a tourism app but active participants who contribute to its
                        functionality and success. Their reviews, feedback, content, and interactions can shape the
                        app's reputation and utility in the travel industry. Therefore, it's important for developers to
                        prioritize user satisfaction and continually improve the app based on user needs and feedback.
                    </p>

                    <div class="d-grid gap-2">
                        <button type="button" id="btn" class="btn btn-warning btn-sm text-dark"
                            routerLink="/user/list">USERS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="card p-2 border border-warning rounded">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="cityImageUrl" alt="cities" class="img-fluid border border-primary rounded">
                </div>
                <div class="col-md-8">
                    <h2 class="card-title">Cities</h2>

                    <p>Cities actively involved in crafting and maintaining tourism apps elevate their status as
                        attractive tourist destinations. This involvement not only enriches the visitor experience but
                        also fuels economic growth through tourism-related activities. This involvement not only
                        enriches the visitor experience but also fuels economic growth through tourism-related
                        activities. They help cities stay competitive in the global tourism landscape and create a
                        win-win situation for all stakeholders, ensuring a memorable and economically prosperous
                        experience for tourists and residents alike.</p>

                    <div class="d-grid gap-2">
                        <button type="button" id="btn" class="btn btn-warning btn-sm text-dark"
                            routerLink="/city/list">CITIES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="card p-2 border border-warning rounded">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="vehicleImageUrl" alt="user using phone" class="img-fluid border border-primary rounded">
                </div>
                <div class="col-md-8">
                    <h2 class="card-title">Vehicles</h2>

                    <p>Vehicles play a pivotal role in the tourism industry, facilitating the movement of travelers to
                        and within destinations. They provide accessibility to remote and popular attractions, enabling
                        tourists to explore diverse landscapes. Buses, cars, trains, and planes ensure convenience,
                        flexibility, and comfort for travelers, enhancing their overall experience. Efficient
                        transportation options are essential for tourists to access accommodations, restaurants, and
                        activities, contributing to the economic growth of tourism destinations. In summary, vehicles
                        are the lifeline of tourism, connecting visitors to their desired experiences and making travel
                        memorable and enjoyable.</p>

                    <div class="d-grid gap-2">
                        <button type="button" id="btn" class="btn btn-warning btn-sm text-dark"
                            routerLink="/vehicle/list">VEHICLES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="card p-2 border border-warning rounded">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="locationImageUrl" alt="user using phone"
                        class="img-fluid border border-primary rounded">
                </div>
                <div class="col-md-8">
                    <h2 class="card-title">Locations</h2>

                    <p>Tourist places play a pivotal role in a tourism app by serving as the primary attractions that
                        draw travelers. They provide essential information about popular destinations, historical sites,
                        natural wonders, and cultural landmarks, allowing users to plan their trips efficiently. These
                        places act as the focal points for itinerary creation, navigation, and booking services,
                        enhancing the overall travel experience. Additionally, they serve as the foundation for
                        user-generated content, reviews, and recommendations, facilitating community engagement and
                        helping travelers make informed decisions when exploring new destinations.</p>

                    <div class="d-grid gap-2">
                        <button type="button" id="btn" class="btn btn-warning btn-sm text-dark"
                            routerLink="/location/list">LOCATIONS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

</div>