<div id="main-container">
    <div class="container">
        <main class="table">
            <section class="table__header mt-1">
                <h1>Locations</h1>
                <button type="button" class="btn btn-primary p-2" (click)="addLocation()">Add Location</button>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let location of locations">
                            <td>{{ location.id }}</td>
                            <td>{{ location.name }}</td>
                            <td><a [href]="location.location" target="_blank">{{ location.location }}</a></td>
                            <td>{{ location.description }}</td>
                            <td>
                                <fa-icon class="mx-2 text-danger" [icon]="deleteIcon"
                                    (click)="onDelete(location.id)"></fa-icon>
                                <fa-icon class="mx-2 text-warning" [icon]="updateIcon" (click)="onUpdate()"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</div>