<div class="container">
    <div class="col-md-12">
        <div class="row">
            <section class="table__body p-5">
                <form [formGroup]="vehicleForm" (ngSubmit)="addVehicle()">
                    <div class="row p-2">
                        <div class="alert">
                            <div *ngIf="responseCode === 'SUCCESS_201'" class="alert alert-success p-2" role="alert">
                                {{ responseMessage }}
                            </div>
                            <div *ngIf="responseCode === ''" class=" alert alert-warning p-2" role="alert">
                                {{ responseMessage }}
                            </div>
                        </div>
                    </div>
                    <div class="form-header">
                        <h1 class="text-center">Add Vehicle</h1>
                    </div>
                    <div id="form-container">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="forVehicleName" class="form-label m-1"><strong>Enter Name</strong></label>
                                <input type="text" class="form-control p-2" id="forVehicleName" formControlName="name"
                                    required [placeholder]="enterName">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="forVehiclePrice" class="form-label m-1"><strong>Enter Price</strong></label>
                                <input type="text" class="form-control p-2" id="forVehiclePrice" formControlName="price"
                                    required [placeholder]="enterPrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="forVehiclePhone" class="form-label m-1"><strong>Enter Phone</strong></label>
                                <input type="text" class="form-control p-2" id="forVehiclePhone" formControlName="phone"
                                    required [placeholder]="enterPhone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="forVehicleRating" class="form-label m-1"><strong>Enter
                                        Rating</strong></label>
                                <input type="number" class="form-control p-2" id="forVehicleRating"
                                    formControlName="rating" required [placeholder]="enterRating">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label class="form-label m-1"><strong>Enter Type</strong></label>
                                <div id="selection">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="bus" formControlName="type"
                                            value="BUS">BUS
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="bike" formControlName="type"
                                            value="BIKE">BIKE
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="car" formControlName="type"
                                            value="CAR">CAR
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="rikshaw" formControlName="type"
                                            value="RIKSHAW">RIKSHAW
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label class="form-label m-1"><strong>Enter Transport</strong></label>
                                <div id="selection">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="private"
                                            formControlName="transport" value="PRIVATE">PRIVATE
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="public"
                                            formControlName="transport" value="PUBLIC">PUBLIC
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="forVehicleCity" class="form-label m-1"><strong>Enter City</strong></label>
                                <input type="text" class="form-control p-2" id="forVehicleCity" formControlName="city"
                                    required [placeholder]="enterCity">
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" id="btn" [disabled]="!vehicleForm.valid"
                                class="btn btn-primary p-2 text-light">Save</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>